<ion-header>
  <ion-navbar>
    <ion-title>
      SilasCar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let car of cars">
      <h2>{{car.nome}}</h2>
      <p>{{car.preco}}</p>
    </ion-item>
  </ion-list>
</ion-content>
